<div class="mb-5"></div>
<div class="container-fluid">
  <br>
  <div class="jumbotron-default border p-2">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div>
              <form [formGroup]="form" (ngSubmit)="submitForm()">
                <!-- Progress Bar -->
                <div class="progress form-group" *ngIf="fileUploadService.percentDone">
                  <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                    [style.width.%]="fileUploadService.percentDone">
                  </div>
                </div>

                <!-- Image Preview -->
                <div class="form-group">
                  <div class="preview" *ngIf="preview && preview !== null">
                    <img [src]="preview" [alt]="form.value.name">
                  </div>
                </div>

                <!-- File Input -->
                <div class="form-group">
                  <input type="file" (change)="uploadFile($event)">
                </div>

                <!-- Name -->
                <div class="form-group input-group-lg">
                  <input class="form-control" placeholder="Name" formControlName="name">
                </div>
                <!-- title -->
                <div class="form-group input-group-lg">
                  <input class="form-control" placeholder="Title" formControlName="title">
                </div>
                <!-- date -->
                <div class="form-group input-group-lg">
                  <input type="date" class="form-control" placeholder="Date" formControlName="date">
                </div>
                <!-- description -->
                <div class="form-group input-group-lg">
                  <textarea class="form-control" placeholder="Description" formControlName="description"></textarea>
                </div>
                <!-- Submit -->
                <div class="form-group">
                  <button class="btn btn-danger btn-block btn-lg">Create User</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
