<div class="mb-5"></div>
<div class="container-fluid">
  <br>
  <div class="container-fluid jumbotron-default border p-2">
    <h3>Portfolio</h3>
    <div class="row d-flex justify-content-center">
      <div class="frame col-xs-3">
        <img src="../../assets/powerbyis.jpg" alt="">
        <div class="details">
          <h2>Power By IS</h2>
        </div>
      </div>
      <div class="ml-1"></div>
      <div class="frame col-xs-3">
        <img src="../../assets/biproduction.jpg" alt="">
        <div class="details">
          <h2>BI Production</h2>
        </div>
      </div>
      <div class="ml-1"></div>
      <div class="frame col-xs-3">
        <img src="../../assets/mobiconnect1.jpg" alt="">
        <div class="details">
          <h2>Mobi Connect</h2>
        </div>
      </div>
      <div class="ml-1"></div>
      <div class="frame col-xs-3">
        <img src="../../assets/mobiconnect2.jpg" alt="">
        <div class="details">
          <h2>Mobi Connect</h2>
        </div>
      </div>
    </div>
    <div class="mb-1"></div>
    <div class="row d-flex justify-content-center">
      <div class="frame col-xs-3">
        <img src="../../assets/mobiconnect3.jpg" alt="">
        <div class="details">
          <h2>Mobi Connect</h2>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="section-bg-three"><br>
    <div class="container-fluid">
      <div class="row d-flex justify-content-center">
          <div class="col-lg-6">
            <div class="text-center">
              <h3 class="no-span">My Work</h3>
            </div>
            <hr>
          </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="biprod-tab" data-toggle="tab" href="#biprod" role="tab" aria-controls="biprod" aria-selected="true">Bi Production</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="erpc-tab" data-toggle="tab" href="#erpc" role="tab" aria-controls="erpc" aria-selected="false">ERPCC</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="ekyc-tab" data-toggle="tab" href="#ekyc" role="tab" aria-controls="ekyc" aria-selected="false">Ekyc</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="grc-tab" data-toggle="tab" href="#grc" role="tab" aria-controls="grc" aria-selected="false">Grc</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="ittrends-tab" data-toggle="tab" href="#it-trends" role="tab" aria-controls="ittrends" aria-selected="false">It Trends</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="biprod" role="tabpanel" aria-labelledby="biprod-tab">
              <div class="row">
                <div class="col-md-12">
                  <img src="../../assets/bi-production-1.png" alt="">
                  <img src="../../assets/bi-production-2.png" alt="">
                  <img src="../../assets/bi-production-3.png" alt="">
                  <img src="../../assets/bi-production-4.png" alt="">
                  <img src="../../assets/bi-production-5.png" alt="">
                  <img src="../../assets/bi-production-6.png" alt="">
                  <img src="../../assets/bi-production-7.png" alt="">
                  <img src="../../assets/bi-production-8.png" alt="">
                  <img src="../../assets/bi-production-9.png" alt="">
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="erpc" role="tabpanel" aria-labelledby="erpc-tab">
              <div class="row">
                <div class="col-md-12">
                  <img src="../../assets/erpc-1.png" alt="">
                  <img src="../../assets/erpc-2.png" alt="">
                  <img src="../../assets/erpc-3.png" alt="">
                  <img src="../../assets/erpc-4.png" alt="">
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="ekyc" role="tabpanel" aria-labelledby="ekyc-tab">
              <div class="row">
                <div class="col-md-8">
                  <img src="../../assets/ekyc.png" alt="">
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="grc" role="tabpanel" aria-labelledby="grc-tab">
              <div class="row">
                <div class="col-md-3">
                  <img src="../../assets/grc-5.png" alt="">
                </div>
                <div class="col-md-3">
                  <img src="../../assets/grc-2.png" alt="">
                  <img src="../../assets/grc-1.png" alt="">
                </div>
                <div class="col-md-3 ml-4">
                  <img src="../../assets/grc-4.png" alt="">
                  <img src="../../assets/grc-3.png" alt=""><br>
                  <img src="../../assets/grc-6.png" alt="">
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="it-trends" role="tabpanel" aria-labelledby="ittrends-tab">
              <div class="row">
                <div class="col-md-3">
                  <img src="../../assets/ittrends-1.png" alt="">
                </div>
                <div class="col-md-3 ml-4">
                  <img src="../../assets/ittrends-2.png" alt="">
                </div>
                <div class="col-md-3 ml-4">
                  <img src="../../assets/ittrends-3.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><br>
  </div>
</div>
<div class="mb-3"></div>
