
<div class="bg-light">
  <bs-navbar></bs-navbar>
</div>

<a id="back-to-top" href="#" class="btn btn-light btn-lg back-to-top btn-bg" role="button"><i class="fa fa-arrow-up"></i></a>

<footer class="navbar-static-bottom" role="contentinfo">
  <div class="footer-bottom">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-xs-12">
          <div class="mb-2"></div>
          <div class="row d-flex justify-content-center" style="width: 100%;">
            <a class="icon-button twitter" href="https://twitter.com/home" target="_blank"><i class="icon-twitter fa fa-twitter"></i><span></span></a>
              <div class="mr-4"></div>
            <a class="icon-button youtube" href="https://www.youtube.com/channel/UC0t7RK51dMtwBShWIpAEABg?view_as=subscriber" target="_blank"><i class="fa fa-youtube"></i><span></span></a>
            <div class="mr-4"></div>
            <a class="icon-button linkedin" href="https://www.linkedin.com/feed/" target="_blank"><i class="fa fa-linkedin"></i><span></span></a>
            <div class="mr-4"></div>
            <a class="icon-button github" href="https://github.com/anshulkumrawat/" target="_blank"><i class="fa fa-github"></i><span></span></a>
          </div>
          <!--Footer Bottom-->
          <p class="text-xs-center ftr-text">&copy; Designed by Shreya Kumrawat.  All rights reserved(2020).</p>
        </div>
      </div>
    </div>
    </div>
</footer>

